* {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: /* transparent */ #181825;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 3px 15px;
  margin: 3px 3px;
  border-radius: 4px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#custom-context {
  color: #ffffff;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 3px 12px;
  border-left: 2px solid #00ffff;
  margin: 3px 3px;
}

#memory,
#temperature,
#custom-power,
#custom-spotify,
#custom-daynight,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#tray {
  border-radius: 4px;
  margin: 3px 3px;
  padding: 3px 12px;
  background-color: #1e1e2e;
  color: #181825;
}

#custom-power {
  margin-right: 6px;
}

#custom-daynight {
  background-color: #b0b0b5;
}

#custom-spotify {
  margin-right: 6px;
  background-color: #73c6b6;
}

#custom-logo {
  padding: 3px 6px;
  padding-right: 8px;
  margin: 3px;
  margin-left: 16px;
  font-size: 15px;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #1793D1;
}

#memory {
  background-color: #fab387;
}

#temperature {
  background-color: #ffe9a7;
}

#temperature.critical {
    background-color: #ff0000;
}

#battery {
  background-color: #f38ba8;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0000;
  color: #FFFF00;
}

#battery.charging {
  background-color: #a6e3a1;
  color: #181825;
}

#backlight {
  background-color: #fab387;
}

#wireplumber {
  background-color: #a6e3a1;
}

#network {
  background-color: #94e2d5;
  padding-right: 17px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: #3BAFCF;
}

#custom-power {
  background-color: #D16D6D;
  margin-right: 16px;
}


tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}
